* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

html,
#root {
  height: 100vh;
}

body {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}
